{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
 <title>user form</title>
{% endblock %}

<body>
{% block content %}

        <div class="container jumbotron">
             <center><h1><u>Book Your Appointment</u></h1></center>
             <form method="post">
               {% csrf_token %}
               {{form.as_p}}
               <input type="submit" value="BOOK" class="btn btn-outline-success col-6 btn-lg">
               <input type="reset" value="RESET" class="btn btn-outline-warning col-6 btn-lg float-right">
             </form>
            </div>

{% endblock %}
</body>