{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>sign up form</title>
{% endblock %}

</head>

{% block content %}
<div class="container jumbotron">
  <form method="post">
    <h1 align="center"><u><font face="Times New Roman">Admin Registration</font></u></h1>
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" value="SIGN UP" class="btn btn-outline-success col-6">
    <input type="reset" value="RESET" class="btn btn-outline-warning col-6 float-right">

  </form>
</div>
{% endblock %}