{% extends 'layout.html' %}

{% block title %}
    <title>Show</title>
{% endblock %}


{% block content %}
        <h1 align="center"><u><font face="Times New Roman">Show Servicemen</font></u></h1><br><br><br>
          <table class="table table-dark table-striped">
            <thead>
            <tr>
              <th>NAME</th>
              <th>PHONE</th>
              <th>EMAIL</th>
              <th>ADDRESS</th>
              <th>SERVICE</th>
              <th>CHARGES</th>
            </tr>
            </thead>
            <tbody>
            {% for record in data %}
            <tr>
              <td>{{record.name}}</td>
              <td>{{record.phone}}</td>
              <td>{{record.email}}</td>
              <td>{{record.address}}</td>
              <td>{{record.service}}</td>
              <td>{{record.charges}}</td>
              <td>
                <button class="btn btn-outline-warning"><a href="{% url 'book' %}">BOOK</a></button>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
{% endblock %}